*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'InYourFace';
  src: url('/fonts/amoung.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home-content {
  font-family: 'InYourFace', sans-serif;
  position:relative;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;

}


.content {
  font-family: 'InYourFace', sans-serif;


}



.heading{
  position: absolute;
  color: white;
  font-family: 'InYourFace', sans-serif;
  left: 0;
  top: 5%;
  width: 100%;
  font-weight: 500;
  font-size: 10rem;
  text-align: center;
  letter-spacing: 4px;

}

.intro{
letter-spacing: 0.5px;
  position: absolute;
  color:white;
  left: 0;
  top: 32%;
  text-align: center;
  transform: translateY(-50%);
  width: 100%;
  font-weight: 200;
  font-size: 1.8rem;

 }

 .desc{
  letter-spacing: 1px;
  position: absolute;
  color:white;
  left: 2%;
  top:94%;
  text-align: center;
  transform: translateY(-50%);
  width: 100%;
  font-weight: 200;
  font-size: 1.5rem;

 }

 .menu {
  letter-spacing: 3px;
  position: absolute;
  left: 38%;
  top: 40%;
  transform: translateY(-50%);
  font-weight: 300;
  font-size: 2.8rem;
  display: flex;
  gap: 40px;
  z-index: 2; 

 

}


  
.amoungus{  
  position: absolute;
  top: 67%;
  left: 32%;
  transform: translateY(-50%);
  width: 600px;
  height: 1000px;
  z-index: 1; 


}
.menu a{
  color: red;
}
@media (max-width: 480px) {
  .home-content{
    margin-top: 40px;
  }
  .heading {
    font-size: 5.5rem;
    margin-top: 10px;
  }

  .intro {
    font-size: 1.5rem;
    top: 25%;
  }
  .menu {
    font-size: 1.9rem;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
  }

  .amoungus {
    width: 300px;
    height: 500px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  .desc {
    font-size: 0.7rem;
    top: 78%;
  
  }
}
@media (min-width: 769px) {
  .heading {
    font-size: 10rem;
    top: 5%;
  }

  .intro {
    font-size: 1.8rem;
    top: 32%;
  }

  .desc {
    font-size: 1.5rem;
    top: 94%;
  }

  .menu {
    font-size: 2.8rem;
    top: 40%;
    left: 38%;
    transform: translateY(-50%);
    gap: 40px;
  }

  .amoungus {
    width: 600px;
    height: 1000px;
    top: 67%;
    left: 32%;
    transform: translateY(-50%);
  }
}