@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bazingaItalic";
  src: url("/fonts/bazingaItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
}

@font-face {
  font-family: "InYourFace";
  src: url("/fonts/amoung.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
